//Tipos de fuentes

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

//Paleta de colores

$violeta: #957DAD;
$violetaClaro: #E0BBE4;
$rosa: #d35bab;
$rosaClaro: #FEC8D8;
$crema: #FFDFD3;

//Fuentes

$itim: 'Itim',
cursive;
$monserrat: 'Montserrat',
sans-serif;